.header__inner {
    height: 85px;
    border-bottom: 2px solid black;
    display: flex;
    border-radius: 0 0 15px 15px;
    align-items: center;
    position: fixed;
    z-index: 1000;
    background-color: white;
    z-index: 1000;
}