.inner__link {
    text-decoration: none;
    font-weight: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
    transition: .2s linear;
}

.inner__link:hover {
    color: black;
    transform: scale(1.1);
}