.myself__title {
    margin: 0 auto;
    font-weight: 400;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
    margin-bottom: 40px;
    font-weight: 600;
    text-transform: uppercase;
}